<div class="page-header">
    <h1>Активация телефона</h1>
</div>


<a href="<?= $this->url("app/default",
    array('controller' => 'phones', 'action' => 'list')); ?>">Перейти к списку телефонов</a>


<?php $form->prepare(); ?>

<form class="form-horizontal" novalidate role="form" method="post"
      action="<?= $this->url("app/default",
          array('controller' => 'sms-confirm', 'action' => 'activate')); ?>">

    <?= $this->formElement($form->get('phone_id')); ?>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-md-offset-1 col-sm-offset-1">
            <div class="form-group <?= ($this->formElementErrors($form->get('ad_id'))) ? 'has-error' : '' ?>">
                <?= $this->formLabel($form->get('ad_id')); ?>
                <?= $this->formElement($form->get('ad_id')); ?>
            </div>
            <?php $errors = $form->get('ad_id')->getMessages();
            ?>
            <?php if ($errors) : ?>
                <div class="form-group">
                    <?php foreach ($errors as $error) : ?>
                        <div class="text-danger"><?= $this->translate($error) ?></div>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>
        </div>
    </div>

    <div class="col-md-offset-1 col-md-3">
        <input type="submit" name="submit" class="btn btn-default" value="Сохранить">
    </div>
</form>
