<div>
    <?php
    $showRedInputs = false;
    ?>
    <hr>
    <div class="row">

        <div class="col-md-offset-3">
            <?php if ($this->formElementErrors($form->get('login')) || $this->formElementErrors($form->get('password'))) : ?>
                <?= 'Пароль или Логин введены неверно'; ?>
                <?php $showRedInputs = true; ?>
            <?php else: ?>
                <?= ' '; ?>
                <?php $showRedInputs = false; ?>
            <?php endif; ?>
        </div>
    </div>

    <form class="form-horizontal" novalidate role="form" method="post"
          action="<?= $this->url('auth', array('controller' => 'auth', 'action' => 'login')); ?>">

        <div class="form-group <?= ($showRedInputs) ? 'has-error' : '' ?>">
            <?= $this->formLabel($form->get('login')); ?>
            <div class="col-lg-9">
                <?= $this->formElement($form->get('login')); ?>
            </div>
        </div>

        <div class="form-group <?= ($showRedInputs) ? 'has-error' : '' ?>">
            <?= $this->formLabel($form->get('password')); ?>
            <div class="col-lg-9">
                <?= $this->formElement($form->get('password')); ?>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-9">
                <?= $this->formElement($form->get('submit')); ?>
            </div>
        </div>
    </form>
    <hr>
</div>
