<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('Публикатор - Автоматическая публикация объявления на открытые доски'); ?>
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
   <link href="/build/main.min.css" media="screen" rel="stylesheet" type="text/css">
<!--    <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css">-->
    <link href="/images_origin/favicon.ico" rel="shortcut icon" type="image/x-icon">

</head>
<body>

<?php
$user = $this->identity();
?>

<?php if ($user) : ?>


    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="#">Органайзер</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav">
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li><a href="<?= $this->url("app/default",
                            array('controller' => 'index', "action" => "dashboard")); ?>">Управление</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Аренда <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="<?= $this->url("app/default",
                                    array('controller' => 'ads-arenda', 'action' => 'list')); ?>">Список</a></li>
                            <li><a href="<?= $this->url("app/default",
                                    array('controller' => 'import-ads', 'action' => 'index')); ?>">Импорт</a></li>
                            <li><a href="<?= $this->url("app/default",
                                    array('controller' => 'ads-arenda', 'action' => 'add')); ?>">Добавить</a></li>
                        </ul>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Телефоны <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="<?= $this->url("app/default",
                                    array('controller' => 'phones', 'action' => 'list')); ?>">Список</a></li>
                            <li><a href="<?= $this->url("app/default",
                                    array('controller' => 'phones', 'action' => 'add')); ?>">Добавить</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Настройки <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="<?= $this->url("app/default",
                                    array('controller' => 'profile', 'action' => 'index')); ?>">Профиль</a></li>
                            <li class="divider"></li>
                            <li><a href="<?= $this->url("auth/default",
                                    array('controller' => 'index', 'action' => 'logout')); ?>">Выход</a></li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<div id = "cliocknow" ></div> -->
                    <li><a href="/" id="clocknow"> </a></li>
                    <?php if ($this->Identity()) :
                        ?>
                        <li><a href="<?= $this->url("auth/default",
                                array('controller' => 'index', 'action' => 'logout')); ?>">Выход</a></li>
                    <?php else : ?>
                        <li><a href="<?= $this->url("auth/default",
                                array('controller' => 'index', 'action' => 'login')); ?>">Вход</a></li>
                    <?php endif; ?>

                    <!--<button type="button" class="btn btn-default navbar-btn">Вход</button>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<?php else: ?>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="#">Органайзер</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav">
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="<?= $this->url("auth/default",
                            array('controller' => 'index', 'action' => 'login')); ?>">Вход</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<?php endif; ?>

<div class="container-fluid">


    <div id="statusMessagesContainer">
        <div id="statusMessages">
            <?php
            $children = $this->viewModel()->getCurrent()->getChildren();
            $child = empty($children[0]) ? null : $children[0];
            $childMessages = empty($child) ? [] : $child->messages;
            ?>
            <?= $this->partial('alerts/tw_bootstrap_list_flash.phtml', ['messages' => $this->flashmessenger()]); ?>
            <?= $this->partial('alerts/tw_bootstrap_list.phtml', ['messages' => $child->messages]); ?>
        </div>
    </div>

    <?= $this->content; ?>
</div>
<footer>
    <?php // var_dump($this->identity());    ?>
</footer>
</div> <!-- /container -->


<!-- Scripts -->
<!--<script type="text/javascript" src="/vendor/requirejs/require.js"></script>-->
<!--<script type="text/javascript" src="/js/requirejs.config.js"></script>-->

<script type="text/javascript" data-main="/js/requirejs.config" src="/build/app.min.js"></script>
<!--<script type="text/javascript" src="/build/app.min.js"></script>-->
<?php echo $this->inlineScript() ?>
</body>
</html>
