<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('Monitoring Tools'); ?>
    <link href="/bower/bootstrap/dist/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <!-- Scripts -->

    <script src="/bower/jquery/dist/jquery.min.js"></script>
    <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <?php
    echo $this->partial('alerts/tw_bootstrap.phtml', array(
        'messages' => $this->messages
    ));
    ?>
</div>
<div class="container">
    <?php echo $this->content; ?>
    <hr>
    <footer>
    </footer>
</div>
<!-- /container -->
<?php echo $this->inlineScript() ?>
</body>
</html>
