<div class="page-header">
    <h1>Объявление
        <small>Добавить</small>
    </h1>
</div>


<div class="row">

    <form class="form-horizontal" name="upload-form" id="upload-form" novalidate="" role="form" method="post"
          action=""
          enctype="multipart/form-data">

        <div class="row">
            <div class="col-md-3 col-sm-4 col-md-offset-1 col-sm-offset-1">
                <div class="form-group ">
                    <label class="control-label" for="phone">Загрузка фото</label>
                    <input type="file" name="imagefile" id="image-file" class="filestyle" data-input="false"
                           data-buttonText="Выберете файл" data-badge="false">
                </div>
                <div class="form-group" id="filename">
                </div>
            </div>
        </div>

    </form>

    <div class="row" id="images_container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1">
                <span class="label label-warning">Внимание!</span> Изображения привязываются к объявлению только после
                нажатия
                кнопки СОХРАНИТЬ
            </div>
        </div>

        <div class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1">
            <table class="table">
                <tbody>
                <?php if ($this->photos): ?>
                    <?php foreach ($this->photos as $hash => $photo) : ?>
                        <tr>
                            <td><img src="<?= $photo ?>" height="100"></img></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="btn btn-danger delete-image" data-hash="<?= $hash ?>" type="submit">
                                    Удалить
                                </button>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                <?php endif; ?>
                </tbody>
            </table>
        </div>
    </div>

</div>


<?php $form->prepare(); ?>

<div class="row">
    <form class="form-horizontal" id="formArendaAds" novalidate role="form" method="post"
          action="<?= $this->url("app/default", array('controller' => 'ads-arenda', 'action' => 'add')); ?>">

        <?= $this->partial('forms/rowElementWithErrors.php', ['form' => $form, 'elementName' => 'id_old']); ?>
        <?= $this->partial('forms/rowElementWithErrors.php', ['form' => $form, 'elementName' => 'type']); ?>
        <?= $this->partial('forms/rowElementWithErrors.php', ['form' => $form, 'elementName' => 'category']); ?>
        <?= $this->partial('forms/rowElementWithErrors.php', ['form' => $form, 'elementName' => 'city']); ?>
        <?= $this->partial('forms/rowElementWithErrors.php', ['form' => $form, 'elementName' => 'metro']); ?>
        <?= $this->partial('forms/rowElementWithErrors.php', ['form' => $form, 'elementName' => 'address']); ?>
        <?= $this->partial('forms/rowElementWithErrors.php', ['form' => $form, 'elementName' => 'rooms']); ?>
        <?= $this->partial('forms/rowElementWithErrors.php', ['form' => $form, 'elementName' => 'price']); ?>
        <?= $this->partial('forms/rowElementWithErrors.php', ['form' => $form, 'elementName' => 'floor']); ?>
        <?= $this->partial('forms/rowElementWithErrors.php', ['form' => $form, 'elementName' => 'floors']); ?>
        <?= $this->partial('forms/rowElementWithErrors.php', ['form' => $form, 'elementName' => 'period']); ?>
        <?= $this->partial('forms/rowElementWithErrors.php', ['form' => $form, 'elementName' => 'hometype']); ?>
        <?= $this->partial('forms/rowElementWithErrors.php', ['form' => $form, 'elementName' => 'area']); ?>
        <?= $this->partial('forms/rowElementWithErrors.php', ['form' => $form, 'elementName' => 'name']); ?>
        <?= $this->partial('forms/rowElementWithErrors.php', ['form' => $form, 'elementName' => 'email']); ?>
        <?= $this->partial('forms/rowElementWithErrors.php', ['form' => $form, 'elementName' => 'description']); ?>

        <?php if ($this->photosHashes): ?>
            <?php foreach ($this->photosHashes as $photoHash) : ?>
                <input type="hidden" name="photos[]" value="<?= $photoHash ?>">
            <?php endforeach; ?>
        <?php endif; ?>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-3">
                <?= $this->formElement($form->get('submit')); ?>
            </div>
        </div>
    </form>
</div>
