<?php
$title = 'Список объялений';
$this->headTitle($title);
$i = 0;
?>


    <div class="page-header">
        <h1><?= $this->escapeHtml($title) ?></h1>
    </div>

    <p>
        <a href="<?= $this->url("app/default", array('controller' => 'ads-arenda', 'action' => 'add')); ?>">
            Добавить объявление
        </a>
    </p>


    <table class="table">
        <tr>
            <th>№</th>
            <th>Адрес</th>
            <th>Цена</th>
            <th>Комнаты</th>
            <th>Этаж</th>
            <th>Этажность</th>
            <th>&nbsp;</th>
        </tr>
        <?php foreach ($itemsList as $items) : ?>
            <tr>
                <td><?php echo $this->escapeHtml($items->id); ?></td>
                <td><?php echo $this->escapeHtml($items->address); ?></td>
                <td><?php echo $this->escapeHtml($items->price); ?></td>
                <td><?php echo $this->escapeHtml($items->rooms); ?></td>
                <td><?php echo $this->escapeHtml($items->floor); ?></td>
                <td><?php echo $this->escapeHtml($items->floors); ?></td>
                <td>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            выполнить <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">


                            <li>
                                <a href="<?= $this->url("app/edit_delete",
                                    array(
                                        'controller' => 'ads-arenda',
                                        'action' => 'edit',
                                        'id' => $items->id
                                    )); ?>">Изменить</a>
                            </li>
                            <li class="divider"></li>

                            <li>
                                <a href="<?= $this->url("app/edit_delete", array(
                                    'controller' => 'ads-arenda',
                                    'action' => 'delete',
                                    'id' => $items->id
                                )); ?>">Удалить</a>
                            </li>
                        </ul>
                    </div>

                </td>
            </tr>
        <?php endforeach; ?>
    </table>

<?php
// add at the end of the file after the table
echo $this->paginationControl(
// the paginator object
    $this->itemsList,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    array('partial/paginator.phtml', 'Album'),
    // the route to link to when a user clicks a control link
    array(
        'route' => "app/default",
        'route_params' => array('controller' => 'ads-arenda', 'action' => 'list')
    )
);
?>