<div class="page-header">
    <h1>Добавление фото</h1>
</div>

<div class="row">
    <form class="form" name="upload-form" id="upload-form" novalidate="" role="form" method="post"
          action="e"
          enctype="multipart/form-data">

        <div class="row">
            <div class="col-md-3 col-sm-4 col-md-offset-1 col-sm-offset-1">
                <div class="form-group ">
                    <label class="control-label" for="phone">Загрузка фото</label>
                    <input type="file" name="imagefile" id="image-file" class="filestyle" data-input="false"
                           data-buttonText="Выберете файл" data-badge="false">
                </div>
                <div class="form-group" id="filename">
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-1 col-md-3">
                <input type="submit" name="submit" class="btn btn-default" value="Отправить"></div>
        </div>
    </form>
</div>

<div class="row">
    <div class="progress" id="progress">
        <div class="progress-bar" id="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
             aria-valuemax="100"
             style="width: 0%;">
            <div id="statustxt">0%</div>
        </div>
    </div>
</div>

<div class="row" id="images_container">
    <table class="table">
        <tbody>
        </tbody>
    </table>
</div>