<div class="page-header">
    <h1>Добавление фото</h1>
</div>


<form class="form" name="upload-form" id="upload-form" novalidate="" role="form" method="post"
      action="/app/ads-arenda/upload-images"
      enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-3 col-sm-4 col-md-offset-1 col-sm-offset-1">
            <div class="form-group ">
                <label class="control-label" for="phone">Загрузка фото</label>
                <input type="file" name="imagefile" id="image-file">
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-1 col-md-3">
            <input type="submit" name="submit" class="btn btn-default" value="Отправить"></div>
    </div>
</form>

