<div class="page-header">
    <h1>Телефон
        <small>Редактировать</small>
    </h1>
</div>

<?php $form->prepare(); ?>

<form class="form-horizontal" id="formSiteEdit" novalidate role="form" method="post"
      action="<?= $this->url("app/edit_delete",
          array('controller' => 'phones', 'action' => 'edit', 'id' => $this->id)); ?>">

    <?= $this->formElement($form->get('id')); ?>

    <div class="row">
        <div class="col-md-3 col-sm-4 col-md-offset-1 col-sm-offset-1">
            <div class="form-group <?= ($this->formElementErrors($form->get('phone'))) ? 'has-error' : '' ?>">
                <?= $this->formLabel($form->get('phone')); ?>
                <?= $this->formElement($form->get('phone')); ?>
            </div>
            <?php $errors = $form->get('phone')->getMessages();
            ?>
            <?php if ($errors) : ?>
                <div class="form-group">
                    <?php foreach ($errors as $error) : ?>
                        <div class="text-danger"><?= $this->translate($error) ?></div>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>
        </div>
    </div>

    <div class="col-md-offset-1 col-md-3">
        <input type="submit" name="submit" class="btn btn-default" value="Сохранить">
    </div>
</form>
