<?php
$title = 'Список телефонов';
$this->headTitle($title);
$i = 0;
?>


    <div class="page-header">
        <h1><?= $this->escapeHtml($title) ?></h1>
    </div>


    <p>
        <a href="<?= $this->url("app/default", array('controller' => 'phones', 'action' => 'add')); ?>">Добавить
            телефон</a>
    </p>

    <table class="table">
        <tr>
            <th>№</th>
            <th>Телефон</th>
            <th>Статус</th>
            <th>&nbsp;</th>
        </tr>
        <?php foreach ($itemsList as $items) : ?>
            <tr>
                <td><?php echo $this->escapeHtml($items->id); ?></td>
                <td><?php echo $this->escapeHtml($items->phone); ?></td>
                <td>


                    <?php

                    $status = "";
                    $labelClass = "";
                    if (in_array($items->status, \Consts\Table\UserPhones\Status::$allParams)) {
                        $status = \Consts\Table\UserPhones\Status::$paramsNames[$items->status];
                        $labelClass = \Consts\Table\UserPhones\Status::$classLabel[$items->status];
                    } else {
                        $status = "не известно";
                        $labelClass = "label-info";
                    }
                    ?>

                    <span class="label <?= $this->escapeHtml($labelClass) ?>"><?= $this->escapeHtml($status) ?></span>
                </td>
                <td>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            выполнить <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">

                            <?php if ($items->status == \Consts\Table\UserPhones\Status::NEWONE) : ?>
                                <li>
                                    <a href="<?= $this->url("app/edit_delete",
                                        array(
                                            'controller' => 'sms-confirm',
                                            'action' => 'activate',
                                            'id' => $items->id
                                        )); ?>">Активировать</a>
                                </li>
                            <?php endif; ?>
                            <?php if ($items->status == \Consts\Table\UserPhones\Status::WAIT_CONFIRMATION_CODE) : ?>

                                <li>
                                    <a href="<?= $this->url("app/edit_delete",
                                        array(
                                            'controller' => 'sms-confirm',
                                            'action' => 'enter-code',
                                            'id' => $items->id
                                        )); ?>">Ввести смс код</a>
                                </li>
                            <?php endif; ?>
                            <li class="divider"></li>

                            <li>
                                <a href="<?= $this->url("app/edit_delete",
                                    array(
                                        'controller' => 'phones',
                                        'action' => 'edit',
                                        'id' => $items->id
                                    )); ?>">Изменить</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="<?= $this->url("app/edit_delete", array(
                                    'controller' => 'phones',
                                    'action' => 'delete',
                                    'id' => $items->id
                                )); ?>">Удалить</a>
                            </li>
                        </ul>
                    </div>

                </td>
            </tr>
        <?php endforeach; ?>
    </table>

<?php
// add at the end of the file after the table
echo $this->paginationControl(
// the paginator object
    $this->itemsList,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    array('partial/paginator.phtml', 'Album'),
    // the route to link to when a user clicks a control link
    array(
        'route' => "app/default",
        'route_params' => array('controller' => 'phones', 'action' => 'list')
    )
);
?>