<?php
$user = $this->identity();
?>

<div class="page-header">
    <h1>Центр Управления</h1>
</div>


<div id="userProfileInfo">
    <div class="callout callout-info">
        <?php echo $this->escapeHtml($user->name); ?> (Баланс: <?php echo $this->escapeHtml($user->balance) . " р.)"; ?>
    </div>
</div>

