<div class="jumbotron">
    <h1>Публикация объявлений</h1>

    <p>Сервис позволяет публиковать Ваши объявления на бесплатные доски</p>


    <p><a class="btn btn-danger btn-lg"
          href="<?= $this->url("auth/default", array('controller' => 'index', 'action' => 'login')); ?>">НАЧАТЬ РАБОТУ
            &raquo;</a></p>
</div>



