/* -------------------------------------------------------------------------- */
/* Alerts */
/* -------------------------------------------------------------------------- */

#statusMessagesContainer {
    position: relative;
}

#statusMessages {
    max-width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;

}

.alert {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
}

.label-active {
    background-color: #0869C8;
}